# GeoIP базы
GeoIP2_City.mmdb
*.mmdb

# Папка с данными реестра
/registry-data/
registry-data/

# Также можно добавить общие правила для БД и бинарных файлов
*.db
*.sqlite
*.sqlite3

# TLS сертификаты для nginx-gateway (хранятся локально)
deploy/docker-swarm/ssl-certs/*.pem
