[Unit]
Description=Apache Kafka Broker (Kraft Mode)
After=network.target
Requires=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/kafka
Environment="KAFKA_HEAP_OPTS=-Xmx1G -Xms1G"
ExecStart=/opt/kafka/bin/kafka-server-start.sh /etc/kafka/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
Restart=always
RestartSec=1
TimeoutStopSec=90

# Logging
StandardOutput=file:/var/log/rtb/kafka.log
StandardError=file:/var/log/rtb/kafka.error.log
LogStdout=yes
LogStderr=yes
SyslogIdentifier=kafka-server

# Security
NoNewPrivileges=yes
PrivateTmp=yes
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target